.line_one {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.line_two {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.line_three {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#black {
    background-color: #000000;
    color: #fff;
}

#gray {
    background-color: #3c3c3c;
    color: #fff;
}

#one_hundred_twenty {
    background-color: #787878;
    color: #fff;
}

#one_hundred_eighty {
    background-color: #b4b4b4;
    color: #fff;
}

#two_hundred_forty {
    background-color: #f0f0f0;
}

#two_hundred_fifty_five {
    background-color: #ffffff;
}