#tomato {
    background-color: tomato;
}

#orange {
    background-color: orange;
}

#dodgerblue {
    background-color: dodgerblue;
}

#mediumseagreen {
    background-color: mediumseagreen;
}

#gray {
    background-color: gray;
}

#slateblue {
    background-color: slateblue;
}

#violet {
    background-color: violet;
}

#lightgray {
    background-color: lightgray;
}