* {
    font-family: sans-serif;
    color: #333;
}

body {
    background: #edf0f2;
    margin: 0;
    padding: 0;
}

h1,

h2 {
    text-transform: uppercase;
}

#app {
    padding: 25px;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cccc;
    border-radius: 5px;
    width: 250px;
}

form button {
    background: #43bc70;
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 3px;
}

#tarefas button {
    background: transparent;
    font-size: 16px;
    border: 0;
    color: #900;
    text-transform: uppercase;
}