.line_one {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.line_two {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.line_three {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#black {
    background-color: #000;
    color: #fff;
}

#gray {
    background-color: rgb(60, 60, 60);
    color: #fff;
}

#one_hundred_twenty {
    background-color: rgb(120, 120, 120);
    color: #fff;
}

#one_hundred_eighty {
    background-color: rgb(180, 180, 180);
    color: #fff;
}

#two_hundred_forty {
    background-color: rgb(240, 240, 240);
}

#two_hundred_fifty_five {
    background-color: (255, 255, 255);
}